<div class="valign-parent" [style.height.px]="commonMehod.innerHeight - 16">
  <div class="valign-child full-width">
    <form  class="signup-form" [formGroup]="signupForm" (ngSubmit)="signupForm.valid && signupForm.value.confirmPassword === signupForm.value.password ? signup(): ''">
      <div class="padding-top-10">
        <mat-form-field class="full-width">
          <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>
      </div>
      <div class="padding-top-10">
        <mat-form-field class="full-width">
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
        <mat-error *ngIf="signupForm.controls.email.hasError('pattern') && !signupForm.controls.email.hasError('required')">
          {{errorMsg.INVALID_EMAIL_ERROR}}
        </mat-error>
      </div>
      <div class="padding-top-10 text-left">
        <mat-radio-group formControlName="user_role">
          <mat-radio-button class="padding-left-10 text-center"value="user">User</mat-radio-button>
          <mat-radio-button class="padding-left-10 text-center" value="trainer">Trainer</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="padding-top-10">
        <mat-form-field class="full-width">
          <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>
        <mat-error *ngIf="signupForm.controls.password.hasError('minlength') && !signupForm.controls.password.hasError('required')">
          {{errorMsg.INVALID_PASSWORD_ERROR}}
        </mat-error>
      </div>
      <div class="padding-top-10">
        <mat-form-field class="full-width">
          <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword">
        </mat-form-field>
        <mat-error *ngIf="signupForm.controls.confirmPassword.touched &&  signupForm.value.confirmPassword !== signupForm.value.password  && !signupForm.controls.password.hasError('minlength') && !signupForm.controls.password.hasError('required')">
          {{errorMsg.CONFIRM_PASSWORD_ERROR}}
        </mat-error>
      </div>
      <div class="padding-top-10">
        <button type="submit" mat-raised-button color="primary">Sign up</button>
      </div>
      <div class="padding-top-10">
        <span class="cursor-pointer" [routerLink]="['/login']">Already have an account?</span>
      </div>
    </form>
  </div>
</div>